spring:
# DataSource
  datasource:
    hikari:
      maximum-pool-size: 4
    url: jdbc:mysql://localhost:3306/sns?serverTimeZone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
# JPA
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

jwt:
  secret-key: iamhardyha.sns-application-2026.secret_key
  token.expired-time-ms: 2592000000
